################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DownloadTest/bin/Debug
/DownloadTest/obj/Debug
/DownloadTest/bin/Release
/DownloadTest/obj/Release
/Common/bin
/Common/obj
/packages/Newtonsoft.Json.8.0.3
